#ispm {
  text-decoration: none;
  color: var(--second-color);
}

#about-content .resume a {
  width: 180px;
  display: flex;
  align-items: center;
  position: relative;
  border: var(--second-color) solid 2px;
  border-radius: 5px;
  color: var(--second-color);
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  text-decoration: none;
  background: var(--black-color);
}

#about-content .resume a p {
  z-index: 1;
  width: 100%;
  text-align: center;
}

#about-content .resume a:hover {
  color: black;
}

#about-content .resume a:active {
  border-color: teal;
}

#about-content .resume a::after, #about-content .resume a::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: var(--second-color);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

#about-content .resume a::before {
  left: 0;
  transform: translateX(-8em);
}

#about-content .resume a::after {
  right: 0;
  transform: translateX(8em);
}

#about-content .resume a:hover:before {
  transform: translateX(-0.5em);
}

#about-content .resume a:hover:after {
  transform: translateX(0.5em);
}

#about-content .resume a:active:before,
#about-content .resume a:active:after {
  background: teal;
}