:root {
    --max-phone-device: 480px;
}

body {
    font-size: 1.2em;
}

#header, #contact > div:nth-child(2) {
    display: grid;
    grid-template-columns: 60% auto 27px;  
}

#header {
    padding: 40px;
}

#about-content #header {
    padding-bottom: 32px;
}

#contact > div:nth-child(3) {
    grid-template-columns: auto;
    grid-template-rows: 60vh auto;
}

#return-button {    
    margin: 0;
}

.accueil .return {
    height: 21px;
    border-width: 3px;
}

#sound-icon {
    display: flex;
    justify-content: end;
    margin-right: 32px;
}

.first-animation {
    overflow: hidden;
}

.first-animation .text {
    z-index: 1;
}

.first-animation .images {
    flex-direction: column;
    align-items: stretch;
    opacity: 0.55;
    z-index: 0;
}

.first-animation .images img {
    width: 90vw;
    height: 50vh;
}

.first-animation .images .boy-glasses {
    margin-bottom: -15vh;
    margin-left: -10vw;
}

.first-animation .images .parameter {
    margin-top: -15vh;
    margin-left: 15vw;
}

.first-animation .text p {
    height: 90vh;
}

.grid-container {
    display: grid;
}

.block-container {
    display: block;
}

.inline-content {
    display: inline;
}

.accueil {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;*/
    position: relative;
}

.main-content {
    margin-top: 0;
}

.main-content .first-content p {
    margin: 0 48px 48px;
    line-height: 1.6em;
}

.main-content div:nth-child(2) {
    justify-content: center;
    margin-bottom: 48px;
}

.main-content div:nth-child(2) div {
    margin: 0 48px;
    width: 100%;
}

#front-end-ui-ux-design {
    padding: 16px;
    font-size: calc(28px + 0.3em);
    border-radius: 15px;
}

#front-end-ui-ux-design p {
    text-align: center;
}

.other-margin-top {
    margin-top: 15px;
}

.second-content {
    width: calc(90px + 3vw);
    float: right;
}

.second-content div {
    width: calc(60px + 4vw);
    height: calc(140px + 3vw);
}

.mt-8 {
    margin-top: 48px;
}

.mr-8 {
    margin-right: 48px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
}

.link a:nth-child(3) {
    margin: 24px 0;
    order: 2;
}

.link div {
    order: 3;
}

#my-photo {
    width: 252.53px;
    margin: 0 48px;
}

#my-work section:nth-child(even) > div {
    margin: 48px;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-row-gap: 58px;
}

@media (min-width: 480px) {
    #my-work section:nth-child(even) > div {
        margin: 80px 128px;
        grid-row-gap: 80px;
    }
}

#my-work section:nth-child(2) {    
    grid-template-rows: 360px 360px 360px;
    background-size: auto;
}

#my-work section:nth-child(4) {    
    grid-template-rows: 360px 360px;
}

#my-work section:nth-child(2) .work-card {
    display: grid;
}

#my-work section:nth-child(2) .work-card .flex-display {
    row-gap: 16px;
}

#my-work .work-card {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

#my-work .work-card img {
    border-radius: 0px 0px 0 0;
}

#my-work .work-card > div {
    height: auto;
    grid-template-rows: 45% 55%;
    padding: 24px;
}

#my-work .work-card > div div {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

#my-work .work-card button, #my-work .work-card a {
    width: 100%;
    padding: 5px 0;
}

#my-work .work-card h6 {
    font-size: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 480px) {
    #sunday-school {
        padding: 48px;
    }
    
    #sunday-school > a:first-child {
        padding: 10px;
        margin-top: 0;
        border-radius: 50%;
    }
    
    #sunday-school h1 {
        font-size: calc(23px + 1.2vw);
        margin-left: 64px;
    }
}

#about-content h1 {
    font-size: 1.6em;
}

#about-content > h1, #about-content #resume h1 {
    margin: 40px 40px 32px;
} 

#about-content > div:nth-child(3),
#about-content .skills-container > div,
#about-content #resume div {
    margin-right: 40px;
    margin-left: 40px;
}

#about-content .skills-container > div {
    padding: 0;
}

#about-content .skills-container .skills-box {
    margin-top: 20px;
    justify-content: space-between;
}

#about-content .skill {
    width: 8rem;
    height: 8rem;
}

#about-content .skill img {
    width: 3rem;
    height: initial;
}

#about-content .skill h6 {
    margin-top: 8px;
}

#about-content #resume div {
    flex-direction: column;
    align-items: start;
}

#about-content #resume div a {
    margin-top: 16px;
}

.bg {
    width: 85vw;
}

@media (min-width: 780px) {
    .main-content .first-content .other-size {
        width: calc(83vw - calc(calc(30px + 0.9vw)  * 2));
        height: calc(200px + 5vh);
    }

    .main-content, .link {
        font-size: calc(0.65em + 1.2vw);
    }
    
    .main-content .first-content .other-size {
        font-size: calc(1.3em + 2.9vw);
    }

    .footer {
        margin-top: 0;
    }
}
/*******************************************************************/
.second-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.second-content div {
    width: calc(120px + 30vw);
    height: calc(120px + 30vw);
    border: none;
    border-radius: 5px;
    box-shadow: -7px -7px 0 var(--white-color);
}

.footer {
    padding: 24px 40px;
}

.footer div p {
    margin-bottom: 8px;
}

.grid-container {
    grid-template-columns: auto;
    grid-row-gap: 24px;
}

.grid-container div:first-child {
    grid-row: 3;
}

.grid-container div:nth-child(2) {
    grid-row: 1;
}

.grid-container div:nth-child(3) {
    grid-row: 2;
}