:root {
    --main-color: #23095A;
    --mainprime-color: #23095a81;
    --main-beta-color: #27135E;
    --child-color: #3c109c;
    --childprime-color: #3c109c86;
    --second-color: #faff06;
    --white-color: #fdfddc;
    --black-color: #010101;
    --standard-font: Roboto-Regular;
    --standard-font-thin: Roboto-Thin;
    --standard-font-light:Roboto-Light;
    --onest-regular: Onest-Regular;
    --main-font: "White Milk";
}

body {
    background: var(--main-color) /*linear-gradient(to top right, coral, lightblue, pink)*/;
    font-family: var(--onest-regular);
    font-size: 1.6em;
    color: var(--white-color);
}

* {
    margin: 0;
}

.wave-background {
    background-image: url("../assets/SVG Images/wave-haikei.svg");
    background-position: bottom;
    background-repeat: repeat-x;
}

@font-face {
    font-family: "Onest-Regular";
    src: url("../assets/Fonts/Onest-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "White Milk";
    src: url("../assets/Fonts/White\ Milk.otf") format("opentype");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../assets/Fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../assets/Fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../assets/Fonts/Roboto-Light.ttf") format("truetype");
}

#header {
    display: grid;
    grid-template-columns: 60% auto 27px;
    padding: 64px;
}

#sound-icon {
    display: flex;
    justify-content: end;
    margin-right: 48px;    
}

#about-content {
    position: relative;
    z-index: 1000;
}

#about-content #second-logo {
    width: 18%;
}

#about-content .skills-container .skills-box {
    flex-wrap: wrap;
    gap: 40px;
}

#about-content .skill {
    width: 11rem;
    height: 11rem;    
}



#about-content .skill img {
    width: 50px;
    height: 50px;
}

section {
    margin: 0;
    overflow-x: hidden;
}

.screen {
    width: calc(100% - calc(calc(30px + 0.9vw)  * 2));
    height: calc(100vh - calc(20px + 0.6vw));
    padding: calc(20px + 0.6vw) calc(30px + 0.9vw) 0 calc(30px + 0.9vw);
}

/* Home page */
.accueil {
    position: relative;
}

/* Contact page */
#contact {
    position: relative;
    min-height: 100vh;
}

#code-gif {
    width: 100%;
    border-radius: 14px 14px 0 0;
}

/**************************** Position *****************************/
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}
/*******************************************************************/

/************************* Background-color ************************/
.bg-white {
    background-color: var(--white-color);
}

.bg-theme {
    background-color: var(--main-color);
}

.bg-black {
    background-color: var(--black-color);
}

.bg-second-theme {
    background-color: var(--second-color);
}
/*******************************************************************/
.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
}

.oy-a {
    overflow-y: auto;
}

.inline {
    display: inline;
} 

.no-border {
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.nk-right {
    float: right;
}

/***************************** Text color ******************************/
.nk-text-color {
    color: white;
}

.nk-black-color {
    color: var(--black-color);
}

.nk-stheme-color {
    color: var(--second-color);
}

.c-white {
    color: var(--white-color);
}
/************************************************************************/

.center-text {
    text-align: center;
}

/***************************** Width ******************************/
.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}
/******************************************************************/

.h-100 {
    height: 100%;
}

/***************************** Margin ******************************/
.m-8 {
    margin: 64px;
}

.my-8 {
    margin: 64px 0;
}

.mx-4 {
    margin: 0 32px;
}

.mx-8 {
    margin: 0 64px;
}
/* TOP */

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px;
}

.mt-4 {
    margin-top: 32px;
}

.mt-5 {
    margin-top: 40px;
}

.mt-8 {
    margin-top: 64px;
}

/* BOTTOM */
.my-margin {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 32px;
}

.mb-5 {
    margin-bottom: 40px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mb-4 {
    margin-bottom: 32px;
}

.mb-8 {
    margin-bottom: 64px;
}

/* LEFT */
.ml-2 {
    margin-left: 16px;
}

.ml-4 {
    margin-left: 32px;
}

.ml-8 {
    margin-left: 64px;
}

/* RIGHT */
.mr-1 {
    margin-right: 8px;
}

.mr-2 {
    margin-right: 16px;
}

.mr-4 {
    margin-right: 32px;
}

.mr-8 {
    margin-right: 64px;
}
/*******************************************************************/

/***************************** Padding ******************************/
.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-3 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-4 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-6 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-8 {
    padding-top: 64px;
    padding-bottom: 64px;
}
/* TOP */
.pt-1 {
    padding-top: 0.2rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 0.8rem;
}

.pt-4 {
    padding-top: 3rem;
}

.pt-5 {
    padding-top: 5rem;
}

/* BOTTOM */
.pb-1 {
    padding-bottom: 0.2rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 0.8rem;
}

.pb-4 {
    padding-bottom: 3rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

/* LEFT */
.pl-1 {
    padding-left: 0.2rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 0.8rem;
}

.pl-4 {
    padding-left: 3rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pl-8 {
    padding-left: 64px;
}

.px-1 {
    padding: 0 8px;
}

.px-2 {
    padding: 0 16px;
}

.px-3 {
    padding-right: 24px;
    padding-left: 24px;
}

.px-4 {
    padding-right: 32px;
    padding-left: 32px;
}

/* RIGHT */
.pr-1 {
    padding-right: 0.2rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 0.8rem;
}

.pr-4 {
    padding-right: 3rem;
}

.pr-5 {
    padding-right: 5rem;
}

.pr-8 {
    padding-right: 64px;
}
/*******************************************************************/

/****************************** Border *****************************/
/* TOP */
/* White */
.white-bt-1 {
    border-top: 1px solid white;
}

.dashed-line-top {
    border-top: 1px dashed var(--white-color);
}

.dashed-line-bottom {
    border-bottom: 1px dashed var(--white-color);
}
/*******************************************************************/

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}

/************************** Border-radius **************************/
.br-1 {
    border-radius: 5px;
}

.br-2 {
    border-radius: 10px;
}

.br-3 {
    border-radius: 15px;
}

.br-4 {
    border-radius: 20px;
}

.br-50 {
    border-radius: 50%;
}
/*******************************************************************/

.bs {
    box-shadow:  0 25px 50px -12px rgb(0 0 0 / .45);
}
/************************** Font-family **************************/
.nk-text-light {
    font-family: var(--standard-font-light);
}

.nk-text-thin {
    font-family: var(--standard-font-thin);
}

.nk-text-style {
    font-family: var(--main-font);
}

.nk-text-regular {
    font-family: var(--standard-font);
}

.onest-regular {
    font-family: var(--onest-regular);
}
/*******************************************************************/

/**************************** Font-size *****************************/
.fs-1 {
    font-size: calc(20px + 1rem);
}

.fs-2 {
    font-size: calc(10px + 1.2vw);
}
/********************************************************************/

/************************* display flex *****************************/
.flex-display {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}
/*******************************************************************/

.grid-display {
    display: grid;
}

.col-div-2 {
    grid-template-columns: 50% 50%;
}

.col-div-3 {
    grid-template-columns: auto auto auto;
}

.col-60-auto {
    grid-template-columns: 60% auto;
}

.justify-items-center {
    justify-items: center;
}

.col-gap-8 {
    grid-column-gap: 64px;
}

.none-decoration {
    text-decoration: none;
}

.blur {
    filter: blur(0.04em);
    z-index: 0;
}

.notblur {
    filter: blur(0px);
    z-index: 1000;
}

.absolute {
    position: absolute;
    top: calc(20px + 0.6vw);
}

/************************ The home page ************************/
.accueil .return {
    position: relative;
    top: 0;
    left: 0;
    width: calc(50px + 1.4vw);
    height: calc(15px + 1.15vw);
    border: calc(3px + 0.1vw) solid var(--second-color);
    border-radius: 20px;
    float: left;    
    justify-content: center;    
    opacity: 1;
    overflow: hidden;
}

.accueil .return:hover {
    opacity: 0.9;
}

.accueil .return img {
    width: calc(100px + 0.6vw);
    margin-top: 1vh;
}

.accueil .content, .accueil .content img, #contact div .content img {
    left: 90vw;
    width: calc(20px + 1vw);
}

.tooltip    {
    position: relative;
}

.tooltip .tooltiptext   {
    visibility: hidden;
    position: absolute;
    width: calc(60px + 6vw);
    top: 3px;
    left: calc(-100px - 6vw);
    font-size: calc(0.4em + 0.672vw);
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 5px 10px;
    border-radius: 5px;
    border: calc(1px + 0.2vw) solid var(--second-color);
    opacity: 0;
    transition: opacity 6s;
}

.tooltip .tooltiptext::before, .tooltip .tooltiptext::after    {
    content: "";
    position: absolute;
    top: 25%;
    left: 100%;
    margin-top: calc(-3px - 0.6vw);
    border-width: calc(3px + 0.6vw);
    border-style: solid;
    border-color: transparent transparent transparent var(--second-color);
    z-index: 1;
}

.tooltip .tooltiptext::after    {
    margin-top: calc(-2px - 0.5vw);
    border-width: calc(2px + 0.5vw);
    border-color: transparent transparent transparent var(--white-color);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.accueil div .tooltip:first-child .tooltiptext {
    background-color: var(--black-color);
    border-color: var(--white-color);
    color: var(--white-color);
    left: calc(50px + 4vw);
}

.accueil div .tooltip:first-child .tooltiptext {
    width: calc(90px + 7.7vw);
}

.accueil div .tooltip:first-child .tooltiptext::after {
    border-color: transparent var(--black-color) transparent transparent;
    top: 50%;
    left: calc(-1px - 1.15vw);
}

.accueil div .tooltip:first-child .tooltiptext::before {
    top: 50%;
    border-color: transparent var(--white-color) transparent transparent;
    left: calc(-3px - 1.58vw)
}

.other-width {
    width: calc(12px + 0.8vw);
}
/***************************************************************/

/******************* turn on/off music buttons *****************/
.accueil .other-width img, #contact .other-width img {
    padding-top: calc(5px + 0.10vw);
}
/***************************************************************/

.menu {
    display: grid;
    width: calc(200px + 11vw);
    height: calc(190px + 10vw);
    border: 1px solid var(--white-color);
    z-index: 1;
}

.menu  img{
    width: calc(11px + 0.7vw);
    padding: calc(1px + 0.4vw);
    border: 1px solid var(--white-color);
    background-color: red;
    border-radius: 50%;
    top: calc(-5px - 0.79vw);
    left: calc(100% - calc(calc(18px + 1.3vw) / 2));
}

.menu  img:hover {
    background-color:var(--black-color);
}

.menu a {
    justify-content: center;
    font-family: var(--standard-font-thin);
    font-size: calc(0.8em + 1.2vw);
    background-color: var(--main-color);
}

.menu a:nth-child(odd) {
    background-color: var(--child-color);
}

.menu a:hover {
    background-color: var(--mainprime-color);
    text-decoration: underline;
}

.menu a:nth-child(odd):hover {
    background-color: var(--childprime-color);
}

.menu  a:nth-child(2), .menu  a:nth-child(3), .menu  a:nth-child(4) {
    border-bottom: 1px solid var(--white-color);
}

.main-content {   
    justify-content: space-around;
    width: 100%;
}

.other-size {
    font-size: calc(16px + 2.4vw);
}

.first-content {    
    flex-direction: column;    
}

.first-content p, p {
    line-height: 1.5em;
}

#front-end-ui-ux-design {    
    flex-direction: column;
    justify-content: center;
    background: var(--second-color);
    /*width: calc(1000px + 32vw);
    height: calc(145px + 8vh);*/
    padding: 0 calc(32px + 2vw);
    height: 100%;
    border-radius: 30px;
}

#my-photo {    
    justify-content: center;
    align-content: center;
    width: calc(190px + 3vw);
    height: calc(190px + 3vw);
    /*border: 9px solid var(--white-color);*/
    border-radius: 10px;
    box-shadow: 12px 12px 0 var(--black-color);
    overflow: hidden;
    z-index: 0;
}

#sunday-school > a:first-child {
    margin-top: 8px;
}

#sunday-school > a:first-child:hover {
    color: var(--second-color);
}

#sunday-school > a:first-child:active {
    background-color: #01010190;
    color: var(--white-color);
}

#sunday-school .description {
    grid-template-columns: 35% 65%;
}

#sunday-school .description .grid-display {
    grid-template-columns: 55% 45%;
}

#sunday-school .description ul {
    list-style-position: inside;
    padding: 0;
}

#sunday-school .description h2 {
    font-weight: 100;
}

.link {    
    justify-content: space-evenly;
    font-size: calc(16px + 0.6em);
}

.image-size {
    width: calc(30px + 0.2vw);
    height: calc(25px + 0.2vw);
}

.link a {
    text-decoration: none;
}

.link a .image-size {
    margin-right: 5px;
}

.link a span:hover {
    text-decoration: overline;
}
/******************** Style for the contact page ********************/
/* The circle div */
.contact-image {
    width: 151px;
    height: 151px;
}

.contact-image img {
    width: 40%;
}

#contact div:nth-child(3) a:hover {
    text-decoration: none;
}
/*****************************************************************/

.footer {
    padding: 32px 64px;
    background-color: var(--black-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 67% auto;
    grid-template-rows: 50% 50%;
    grid-column-gap: 40px;
    grid-row-gap: 32px;
}

.footer div:first-child {
    grid-row: 1 / span 2;
}