/*@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');*/

#my-work section {
	min-height: 100vh;
}

#my-work section:nth-child(odd) {
	background-image: url("../assets/SVG Images/Polygon scatter/polygon-scatter-haikei.svg");
	background-size: auto 100%;
}

#my-work section:nth-child(even) {
	/*background-image: url("../assets/SVG Images/Polygon scatter/polygon-scatter-haikei-2.svg");
	background-size: auto 100%;*/
	background-color: var(--main-color);
}

#my-work section:nth-child(2) > div {
	grid-template-columns: auto auto;
	grid-column-gap: 64px;
}

#my-work .work-card {
	width: 100%;
	background-color: #01010190;
	--tw-shadow: 0 25px 50px -12px rgb(80 80 180 / .25);
	--tw-shadow-colored: 0 25px 50px -12px rgb(80 80 180 / .25);
	/*box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);*/
}

#my-work .work-card:hover {
	background-color: var(--black-color);
}

#my-work .work-card img {
	width: 100%;
	height: 100%;
}

#my-work .work-card button:hover {
	cursor: pointer;
}

#my-work .work-card h6 {
	line-height: 1.6rem;
	font-weight: lighter;
}

#my-work .work-card > div div {
	width: 100%;
	row-gap: 24px;
}

#my-work .work-card div .view-more:hover {
 background-color: #23095AAA;
}

#my-work .work-card div .github:hover {
 background-color: #faff06CF;
}

@media (orientation: landscape) {


	#my-work section:nth-child(2) div:first-child img {
		height: 300px;
	}

	#my-work section:nth-child(4) div:first-child {
		height: 429.667px;
	}

}

#my-work .work-card button {
	width: 100%;
	padding: 8px 24px;
	font-family: var(--onest-regular);
	border: unset;
}