/*@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');*/

#my-work section {
	min-height: 100vh;
}

#my-work section:nth-child(odd) {
	background-image: url("../assets/SVG Images/Polygon scatter/polygon-scatter-haikei.svg");
	background-size: auto 100%;
}

#my-work section:nth-child(even) {
	/*background-image: url("../assets/SVG Images/Polygon scatter/polygon-scatter-haikei-2.svg");
	background-size: auto 100%;*/
	background-color: var(--black-color);
}

#my-work .work-card {
	width: 340px;
	background-color: #010101FF;
	grid-template-columns: 100%;
	grid-template-rows: 38% 62%;
	--tw-shadow: 0 25px 50px -12px rgb(80 80 180 / .25);
	--tw-shadow-colored: 0 25px 50px -12px rgb(80 80 180 / .25);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

#my-work .work-card:hover {
	background-color: var(--black-color);
}

#my-work .work-card img {
	width: 100%;
	height: 100%;
	border-radius: 5px 5px 0 0;
	opacity: 0.8;
}

#my-work .work-card button:hover {
	cursor: pointer;
}

#my-work .work-card h6 {
	line-height: 1.6rem;
	font-weight: lighter;
}

#my-work .work-card > div {
	grid-template-columns: 100%;
}

#my-work .work-card > div div {
	width: 100%;
	row-gap: 24px;
}

@media (orientation: landscape) {

	#my-work section:nth-child(2) div:first-child {
		height: 380.343px;
	}

	#my-work section:nth-child(2) div:first-child img {
		height: 169.367px;
	}

}

#my-work .work-card button {
	width: 100%;
	padding: 8px 24px;
	font-family: var(--onest-regular);
	border: unset;
}