section {
    height: 100vh;
}

.first-animation {
    overflow: hidden;
}

.first-animation .text {
    z-index: 1;
}

.first-animation .images {
    flex-direction: column;
    align-items: stretch;
    opacity: 0.55;
    z-index: 0;
}

.first-animation .images img {
    width: 90vw;
    height: 50vh;
}

.first-animation .images .boy-glasses {
    margin-bottom: -15vh;
    margin-left: -10vw;
}

.first-animation .images .parameter {
    margin-top: -15vh;
    margin-left: 15vw;
}

.first-animation .text p {
    height: 90vh;
}

.grid-container {
    display: grid;
}

.block-container {
    display: block;
}

.inline-content {
    display: inline;
}

.accueil {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;*/
    position: relative;
}

.main-content {
    margin-top: 90px;
}

.main-content .first-content .my-margin {
    margin-bottom: 30px;
}

.main-content .first-content .other-size {
    width: calc(100vw - calc(calc(30px + 0.9vw)  * 2));
    height: calc(100px + 3vh);
}

.other-margin-top {
    margin-top: 15px;
}

.second-content {
    width: calc(90px + 3vw);
    float: right;
}

.second-content div {
    width: calc(60px + 4vw);
    height: calc(140px + 3vw);
}

.link {
    display: grid;
    justify-items: end;
    width: calc(calc(80vw - calc(calc(30px + 0.9vw)  * 2)) / 2);
    height: calc(140px + 3vw);
    }

.footer {
    margin-top: 9vh;
}

/*@media (min-height: 700px) {
    .second-content div {
        width: calc(80px + 4vw);
        height: calc(160px + 3vw);
    }

    .footer {
        margin-top: 36vh;
    }

    .other-margin-top {
        margin-top: 20px;
    }

    .other-margin-bottom {
        margin-bottom: 8px;
    }
}*/

@media (min-width: 780px) {
    .main-content .first-content .other-size {
        width: calc(83vw - calc(calc(30px + 0.9vw)  * 2));
        height: calc(200px + 5vh);
    }

    .main-content, .link {
        font-size: calc(0.65em + 1.2vw);
    }
    
    .main-content .first-content .other-size {
        font-size: calc(1.3em + 2.9vw);
    }

    .footer {
        margin-top: 0;
    }
}

/* Phone portrait mode device */
@media (max-width: 780px) {
    /* Not display images inside Contact Nick Kevin */
    #contact>div:nth-child(2) img {
        display: none;
    }
}

/*@media (min-width: 780px) and (max-height: 1090px) {
    .second-content {
        width: calc(100px + 5vw);
        margin: 0 23vw 5vh 0;
    }

    .second-content div {
        width: calc(100px + 5vw);
        height: calc(200px + 3vw);
    }

    .link {
        justify-items: center;
        justify-content: end;
    }

    .footer {
        font-size: calc(0.5em + 0.8vw);
    }

    .other-margin-top {
        margin-top: 5vh;
    }
}*/

@media all {
    .second-content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .second-content div {
        width: calc(120px + 30vw);
        height: calc(120px + 30vw);
        border: none;
        border-radius: 5px;
        box-shadow: -7px -7px 0 var(--white-color);
    }
    
    .link {
        display: flex;
        width: 100%;
        margin: 0vh 0;
    } 

    .footer {
        margin-top: 0;
    }   
}